#About {
       height: calc(100vh - 125px);
       padding: 0px 15%;
       background: var(--main-bg);
}

       #About h1 {
              font-size: 4rem;
              font-weight: 700;
              color: var(--light-color);
       }

       #About .icon {
              margin-top: 5px;
       }

       #About .icon::before , #About .icon::after {
              display: inline-block;
              content: "";
              margin: 0px 15px 3px;
              height: 4px;
              width: 80px;
              background: var(--light-bg);
       }

       #About .icon i {
              color: var(--light-color);
       }

       #About p {
              margin-top: 15px;
              padding-right: 10px !important;
              color: var(--light-color);
       }